header {
  border-bottom: 1px solid black;
}

header mat-toolbar {
  height: 94px;
  background-color: #fff;
  padding: 0 16px 0 22px;
}

header img {
  max-height: 81px;
  cursor: pointer;
}

#button-user {
  margin: 0 1.375rem;
}

.spacer {
  flex: 1 1 auto;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#menu #button-user {
  max-width: 48px;
  margin: 0;
  position: absolute;
  bottom: 5px;
}

.button-image {
  max-height: 81px;
  background: none;
  border: none;
}

.active {
  color: #311ed7;
}

.app-dialog-container mat-dialog-container {
  padding: 61px 9px 5px 0;
  border-radius: 0;
  border: 1px solid black;
}

@media only screen and (max-width: 599.98px) {
  .button-image {
    max-height: 53px;
  }
  header mat-toolbar {
    height: 62px;
    padding-left: 5px;
  }
  header img {
    max-height: 53px;
  }
  header button {
    margin-right: 0;
  }
}
