h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  height: 41px;
}

h1 {
  margin: 30px 0 21px 0;
}

h2 {
  margin: 14px 0 12px 0;
}

.subjects {
  display: flex;
  padding: 0 1.19rem 0.38rem 1.19rem;
  column-gap: 0.38rem;
  row-gap: 0.88rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mat-divider {
  border-color: black;
  width: 85.6%;
  margin: auto;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 15.6rem;
}

mat-form-field {
  width: 15.6rem;
}

.custom-label {
  font-size: 16px;
  color: black;
}

.button-sub {
  margin-top: 0.47rem;
  margin-bottom: 6px;
  height: 40px;
  width: 139px;
}

.input-first {
  margin-bottom: -3px;
}

.button-logout {
  line-height: 17px;
  font-weight: 700;
  font-size: 14px;
  width: 131px;
  height: 19px;
  padding: 0;
  margin: 10px 0 13px 0;
}

@media only screen and (max-width: 599.98px) {
  .subjects {
    padding: 0.75rem 0.94rem 0.56rem 0.88rem;
    row-gap: 0.63rem;
    justify-content: center;
  }
  h2 {
    display: none;
  }
  .form {
    padding-top: 0px;
    margin: 0 auto;
  }
  .button-sub {
    margin-bottom: 10px;
  }
  .form button {
    margin-top: -7.5px;
  }
}
