<button
  class="ass-button-image"
  aria-label="Return to previous page"
  (click)="return()">
  <img src="/assets/arrow_left.png" alt="Return"/>
</button>
<img class="form-logo" src="/assets/logo_p6.png" alt="Logo"/>
<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card appearance="outlined">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <mat-label class="custom-label">E-mail ou nom d'utilisateur</mat-label>
          <input
            type="text"
            matInput placeholder="Email"
            formControlName="email"
            class="mat-mdc-form-field-input-control">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label class="custom-label">Mot de passe</mat-label>
          <input
            matInput [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            class="mat-mdc-form-field-input-control">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <div fxLayout="column">
        <button fxFlexAlign="center" class="button-submit" mat-raised-button color="primary" type="submit"
                [disabled]="form.invalid">Submit
        </button>
      </div>
      <p *ngIf="onError" class="error">An error occurred</p>
    </form>
  </mat-card>
</div>
