.login {
  margin-top: 1em;

  mat-card {
    margin: 0.5em;
    max-width: 40rem;
    width: 100%;
    border: 0;
  }
}


button.ass-button-image {
  background: none;
  border: none;
  max-height: 1em;
  margin-top: 2em;
  margin-left: 5em;
}

.button-submit {
  margin-bottom: 20px;
}

.form-logo {
  display: none;
}

@media only screen and (max-width: 599.98px) {
  .ass-button-image {
    top: 2em;
    margin-left: 1.5em;
  }

  .form-logo {
    display: block;
    height: 130px;
    padding: 3em 0 0 0;
    width: 100%;
    object-fit: contain;
  }
}
